body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url('images/bg.jpg');
	background-repeat: no-repeat;
	background-position: center 0;
	background-attachment: fixed;
}
div.title {
	width: 100%;
	color: #999;
}
#logo {
	position: float;
	float: left;
	margin-right: 20px;
	margin-left: 10px;
}
div.title h1 {
	font-size: 22pt;
	line-height: 64px;
	font-weight: normal;
	left: 4%;
	width: 100%;
	color: #333;
}
div.title hr {
	height: 3px;
	width: 98%;
	background-color: #006699;
	margin-bottom: 1em;
}
#name {
	font-size: 120%;
	color: #999;
}
#name a {
	text-decoration: none;
	color: inherit;
}
#name a:hover {
	text-decoration: underline;
	color: #3333FF;
}
#gen {
	position: relative;
	bottom: 5px;
	left: 10px;
	font-size: 11pt;
}
div.center {
	z-index: -1;
	width: 100%;
	height: 100%;
	vertical-align: baseline;
	text-align: center; /* for IE 5 */
}

div.center div.data {
	z-index: 0;
	width: 900px;
	min-height: 750px;
	color: #BABFBA;
	outline-color: #BABFBA;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: url('images/ui-bg-tile.jpg');
	background-origin: padding-box;
	background-position: 0px 0px;
	background-repeat: repeat-y;
	text-align: left;    /* reset text alignment */
	margin-left: auto;
	margin-right: auto;
}
#mask {
	display: inline;
	height: 280px;
	width: 711px;
	background-image: none;
	position: absolute;
}
/*div.center div.data div.basic*/
#name2 {
	display: block;
	position: relative;
	left: 25px;
	top: 5px;
}
#name2 div.emblem {
	position: relative;
	top: 18px;
	width: 74px;
	background-image: url('images/bg-emblem-profile.png');
	background-repeat: no-repeat;
}
#name2 div.clanname {
	position: relative;
	top: 5px;
}
@font-face {
    font-family: 'WarHeliosCondC';
    src: url('http://worldoftanks.com/static/3.1.0.5/common/files/warhelioscondc/warhelioscondc-webfont.eot');
    src: url('http://worldoftanks.com/static/3.1.0.5/common/files/warhelioscondc/warhelioscondc-webfont.eot?#iefix') format('embedded-opentype'), url('http://worldoftanks.com/static/3.1.0.5/common/files/warhelioscondc/warhelioscondc-webfont.woff') format('woff'), url('http://worldoftanks.com/static/3.1.0.5/common/files/warhelioscondc/warhelioscondc-webfont.ttf') format('truetype'), url('http://worldoftanks.com/static/3.1.0.5/common/files/warhelioscondc/warhelioscondc-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
#name2 div.clanname h2 {
	font-family: WarHeliosCondC, arial, sans-serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	color: #F9D088;
}
#name2 div {
	position: float;
	float: left;
}
/* div.center div.data div.basic */
#info {
	width: 190px;
	position: float;
	float: right;
	font-size: 12pt;
}
#info h3 {
	font-weight: normal;
	text-align: center;
	font-size: 14pt;
}
#info hr {
	width: 80%;
	padding: 0;
}
#info p {
	position: relative;
	left:25px;
	text-indent:-20px;
}
#info a {
	text-decoration: none;
	color: inherit;
	font-size: 110%;
}
#info a:hover {
	text-decoration: underline;
	color: #3333FF;
}
/* div.center div.data */
#extra {
	position: absolute; 
	top: 250px;
	width: 711px;
}
table {
	width: 90%;
	text-size: 10pt;
	border: 1px solid #343840;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
	border-collapse: collapse;
	border-spacing: 0;
}
table td {
	vertical-align: middle;
	border: 1px solid #343840;
	background: #0A0C0D;
}
table tr {
	display: table-row;
}

h2.tab {
	display: inline-block;
	margin: 0px 5px 0px 30px;
}

div.center #extra div.tab {
	position: relative;
	top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: left;
	background: inherit;
}

/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.center div.box {
	overflow: auto;
	height: 524px;
	width: 696px;
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.center div.box {
	overflow: hidden;
	width: 680px;
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
div.center div.box table thead tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
div.center div.box table thead tr {
	display: block
}

div.center div.box thead th {
	width: 180px;
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body div.center div.box tbody {
	display: block;
	height: 490px;
	overflow: auto;
	width: 674px;
}

div.center div.data h3 {
	position: relative;
	left: 30px;
}
div.center div.data table tr {
	height: 30px;
	min-height: 30px;
	max-height: 30px;
}
div.center div.data table td {
	padding: 1px 4px 1px;
	width: 100px;
	height: 30px;
	overflow: hidden;
}
div.center div.data table td div {
	width: 100px;
	height: 30px;
	overflow: hidden;
}
div.center div.data table td a {
	text-decoration: none;
	color: inherit;
}
div.center div.data table td a:hover {
	text-decoration: underline;
	color: #3333FF;
}
div.center div.data table td.n {
	width: 160px;
	min-width: 160px;
}
div.center div.data table div.tm {
	position: float; 
	float: right; 
	width: 20px;
}
